.container__home
  p Esto es una api creada para uno de los ejercicios de freeCodeCamp sobre API, esta hecha en Node, Express & Pug.
  p.
    Aqui tienes unos ejemplos de uso:
  .container__home__link
    a(href="http://localhost:8000/api/timestamp") [Proyect_Url]/api/timestamp
    p devuelve la fecha actual
  .container__home__link
    a(href="http://localhost:8000/api/timestamp/2017-05-15") [Proyect_Url]/api/timestamp/:time?
    p acepta tanto milisegundos como algun formato String del objeto Date. e.g: "2015-05-01"