.container__home
  p Esto es una api creada para uno de los ejercicios de freeCodeCamp sobre API, esta hecha en Node, Express & Pug.
  p.
    Aqui tienes unos ejemplos de uso:
  a(href="http://localhost:8000/api/timestamp") [Proyect_Url]/api/timestamp
  a(href="http://localhost:8000/api/timestamp/2020-05-15") [Proyect_Url]/api/timestamp/:time?