
html(lang='en')
  head
    title Timestamp API
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/main.css')
    link(rel="apple-touch-icon", href="/assets/apple-touch-icon.png")
    link(rel="icon", href="/assets/favicon-32x32.png", type="image/png")
    link(rel="icon", href="/assets/favicon-16x16.png", type="image/png")
    link(rel="manifest", href="/assets/site.webmanifest")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap")
    script(src="https://kit.fontawesome.com/35e9411073.js", crossorigin="anonymous")
  body
  header.header
    h1 TimeStamp API
  .container
    img(src="/assets/time.svg", alt="dibujo de una mujer con un reloj de pared").draw
    if query
      include result
      a.btn-return(href="https://illich-timestamp.glitch.me/") Volver atras
    else
      include home
  footer.footer
    span TimeStamp made by @IllichR
    .footer__icons
      a(href="https://www.freecodecamp.org/illich570", target="_blank", rel="noopener noreferrer")
        i.fab.fa-free-code-camp.fa-2x(aria-hidden='true')
      a(href="https://www.codepen.io/illich570", target="_blank", rel="noopener noreferrer")
        i.fab.fa-codepen.fa-2x(aria-hidden='true')
      a(href="https://www.github.com/illich570", target="_blank", rel="noopener noreferrer")
        i.fab.fa-github.fa-2x(aria-hidden='true')
      a(href="https://www.twitter.com/illichr", target="_blank", rel="noopener noreferrer")
        i.fab.fa-twitter.fa-2x(aria-hidden='true')