@import "layout.css";

body{
  background: var(--bg-color);
}

.container{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.draw{
  width: 45%;
  max-width: 180px;
}

.header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.footer{
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.fab{
  margin: 0.5rem;
  color: var(--icon-color);
}

.container__home{
  margin-top: 1rem;
  padding: 0.5rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
}
.container__result{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}

.container__home__link{
  justify-self: center;
  text-align: center;
}

.container__home__link:first-of-type{
  margin-top: 1rem;
}


.date{
  color: red;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

.btn-return{
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  background: var(--icon-color);
  color: white;
  margin-top: 2rem;
  border-radius: 10px;
}

@media only screen and (max-width: 425px){
  .header{
    justify-content: center;
    font-size: 0.9em;
  }
  body{
    font-size: 14px;
  }
}